html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Manrope", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin: 20px 80px;
}
  
p,
a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 30px 80px;
}

ul {
    list-style-type: none;
    margin: 10px 40px;
    overflow: hidden;
    background-color: #e6e6e6;
}

li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}