html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Manrope", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin: 20px 80px;
}
  
p,
a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 30px 80px;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 10px 40px;
    padding: 20px auto;
    overflow: hidden;
    background-color: #e6e6e6;
}

nav li {
    float: left;
}
  
nav a {
    display: block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.body-text {
    margin-left: 230px;
    padding-top: 30px;
}

.sidebar {
    list-style-type: none;
    width: 200px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 360px;
    left: 60px;
    background-color: #e6e6e6;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; 
}

.sidebar div {
    padding: 20px 5px;
    text-align: left;
    /*text-decoration: none;*/
    /*font-size: 8px;*/
    /*color: black;*/
    display: block;
}

.sidebar a {
    font-size: 10px;
}

